body{
    background-color: aquamarine;
}
.img1{
    width: 200px;
    height: 250px;
    margin-left: 350px;
    border-radius: 5%;
}
.img2{
    width: 250px;
    height: 250px;
    margin-left: 400px;
    border-radius: 5%;
}
.img3{
    width: 250px;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5%;
}
.img4{
    width: 250px;
    height: 300px;
    margin-left: 300px;
    border-radius: 5%;
}
.img5{
    width: 250px;
    height: 250px;
    margin-left: 400px;
    border-radius: 5%;
}
