<html>
    <head>
        <title>ASSIGNMENT FORM</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
        <!-- <link rel="stylesheet" type="text/css" href="form.css"> -->
    </head>
    <body>
        <div class="heading">
            <h1 id="head">IBM Contact Form</h1>
            <h2 id="sub">Please fill all the details</h2>
        </div>
        <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
            <div id="c1">
                <label>NAME</label><br><br>
                <input type="name" placeholder="Enter Your Name" class="box"><br><br>
                <label>Email</label><br><br>
                <input type="email" placeholder="Enter Your Email ID" class="box"><br><br>
                <label>Address</label><br><br> 
                <input type="address" placeholder="Address" class="box1"><br><br>
            <br>
            <label id="h1">Gender</label><br><br>
            <input type="radio" name="radio" class="larger">&nbsp&nbsp&nbspMale<br><br>
            <input type="radio" name="radio" class="larger">&nbsp&nbsp&nbspFemale<br><br>
            <input type="radio" name="radio" class="larger">&nbsp&nbsp&nbspOthers<br><br>
            <lable>Reason for contact</lable><br><br>
            <input type="checkbox" name="radio" class="smaller">&nbsp&nbsp&nbspJob Apllication<br><br>  
            <input type="checkbox" name="radio" class="smaller">&nbsp&nbsp&nbspFeedback<br><br>
            <label for="myfile">Select a file:</label>
            <input type="file" id="myfile" name="myfile"><br><br>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>